:root {
    --font-default: ;
    --font-color: white;
    --default-page-width: 1400px;
}

@font-face {
  font-family: 'Araboto';
  src: url('/public/font/Araboto_Medium_400.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body, #root {
  width: 100%;
  height: 100%;
  background-color: #f2f3f4;
  font-family: "Araboto";
  color: var(--font-color);
  overflow: hidden auto;
  min-height: 100% !important;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  color: inherit;      
  font: inherit;       
  line-height: normal; 
  cursor: pointer;
}

input:focus {
  outline: none; 
}

select {
  border: none;      
  outline: none;     
  background: none;  
}

@media (max-width: 1400px) {
  :root {
  --default-page-width: 100%;
}}